:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --white-color: #fff;
  --logo-color: #4d5ae5;
  --second-img-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --link-color: #434455;
  --background-light-color: #e5e5e5;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header-container {
  display: flex;
}
.link {
  text-decoration: none;
}
.link:focus {
  color: var(--logo-color);
}
.portfolio-button:focus {
  color: var(--logo-color);
}

.list {
  list-style: none;
}

.header {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  padding: 24px;
  margin-bottom: 96px;
  border-bottom: 1px solid var(--white-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 1px 0px rgba(46, 47, 66, 0.16);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header li:not(:last-child) {
  margin-right: 40px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  color: var(--logo-color);
  margin-right: 77px;
}
.logo-dark {
  color: var(--primary-text-color);
}
.nav {
  margin-right: 331px;
}
.nav-list {
  display: flex;
}
.list {
  padding: 0;
  margin: 0;
}
.nav-item {
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contact-list {
  display: flex;
}
.contact-item > {
}
.contact-item {
}
.contact-link {
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--secondary-text-color);
}
.hero {
  background-color: var(--primary-text-color);
  text-align: center;
  padding: 192px 0;
  margin-bottom: 120px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  color: var(--white-color);
  font-weight: 500;
  font-size: 56px;
  line-height: calc(60 / 56);
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 48px;
  width: 492px;
}
.hero-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--logo-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  display: inline-block;
}
.features {
  color: var(--white-color);
  margin-bottom: 120px;
}
.features-title {
  color: var(--primary-text-color);
}
.features-list {
  display: flex;
}
.features-list li:not(:last-child) {
  margin-right: 24px;
}
.features-item {
  color: var(--second-img-color);
  width: 264px;
}
.features-description {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 8px;
}
.features-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.todo {
  color: var(--second-img-color);
  margin-bottom: 120px;
}
.todo-title {
  font-weight: 500;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 72px;
}
.todo-list {
  display: flex;
  justify-content: space-between;
}
.todo-item {
}
.todo-img {
}
.team {
  background-color: var(--second-img-color);
  padding: 120px 0;
}
.team-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 72px;
}
.team-item-content {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-item {
  background-color: var(--white-color);
}
.team-img {
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
}
.team-position {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
}
.portfolio {
}
.portfolio li:not(:last-child) {
  margin-right: 24px;
}
.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}
.portfolio-title {
}
.portfolio-list {
  display: flex;
}
.list {
}
.portfolio-item {
}
.portfolio-button {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  background-color: var(--second-img-color);
  color: var(--logo-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 24px;
  display: inline-block;
  text-align: center;
}
.portfolio-button:hover {
  color: var(--second-img-color);
  background-color: var(--logo-color);
}
.cards-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.cards-item {
  border-bottom: 0.5px solid #f4f4fd;
}
.cards-item-content {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
}
.cards-img {
}
.cards-header {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.cards-text {
  color: var(--link-color);
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
}
.footer {
  background-color: var(--primary-text-color);
  padding: 100px 0;
  margin-top: 120px;
}
.footer-logo {
  color: var(--footer-text-color);
}
.footer-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  width: 264px;
  margin-top: 16px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
