:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --white-color: #fff;
  --logo-color: #4d5ae5;
  --second-img-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --link-color: #434455;
  --background-light-color: #E5E5E5; 
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}
.link {
  text-decoration: none;
}
.link:focus {
  color: var(--logo-color);
}
.portfolio-button:focus {
  color: var(--logo-color);
}

.list {
  list-style: none;
}

.header {
  color: var(--primary-text-color);
  background-color: var(--white-color)
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24/18);
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.logo-dark {
  color: var(--primary-text-color);
}
.nav {
}
.nav-list {
}
.list {
}
.nav-item {
  
}
.nav-link {
font-weight: 500;
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.02em;
color:var(--primary-text-color)
}
.contact-list {
}
.contact-item > {
}
.contact-item {
}
.contact-link {
font-size: 16px;
line-height: calc(24/16);
  color: var(--secondary-text-color);
}
.hero {
  background-color: var(--primary-text-color);
}
.hero-title {
  color: var(--white-color);
font-weight: 500;
font-size: 56px;
line-height: calc(60/56);
letter-spacing: 0.02em;
}
.hero-button {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.04em;
  color:var(--white-color); 
  background-color: var(--logo-color);
  border: none;
  cursor: pointer;
}
.features {
  color: var(--white-color);
  
}
.features-title {
  color: var(--primary-text-color);
}
.features-list {
}
.features-item {
  color: var(--second-img-color);
}
.features-description {
  font-weight: 500;
font-size: 20px;
line-height: calc(24/20);
letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.features-text {
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.todo {
  color: var(--second-img-color);
}
.todo-title {
  font-weight: 500;
font-size: 36px;
line-height: calc(40/36);
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primary-text-color);
}
.todo-list {
}
.todo-item {

}
.todo-img {
}
.team {
  background-color: var(--second-img-color);
}
.team-title {
font-weight: 500;
font-size: 36px;
line-height: calc(40/36);
letter-spacing: 0.02em;
color: var(--primary-text-color);
}
.team-list {
}
.team-item {
background-color: var(--white-color);
}
.team-img {
}
.team-name {
font-weight: 500;
font-size: 20px;
line-height: calc(24/20);
letter-spacing: 0.02em;
}
.team-position {
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.02em;

}
.portfolio {
}
.portfolio-title {
}
.portfolio-list {
}
.list {
}
.portfolio-item {
}
.portfolio-button {
font-weight: 600;
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.04em;
background-color: var(--second-img-color);
color: var(--logo-color);
border: none;
cursor: pointer;
}
.portfolio-button:hover {
  color: var(--second-img-color);
  background-color: var(--logo-color);
}
.cards-list {
}
.cards-item {
}
.cards-img {
}
.cards-header {
font-weight: 700;
font-size: 20px;
line-height: calc(24/20);
letter-spacing: 0.02em;
color: var(--primary-text-color);
}
.cards-text {
  color: var(--link-color);
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.02em;
}
.footer {
  background-color: var(--primary-text-color)
}
.footer-logo {
  color: var(--footer-text-color);
}
.footer-text {
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.02em;
  color: var(--footer-text-color);
}
.visually-hidden {
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} 